<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Users Index Page</h1>
	
	<% for (let i = 0; i < users.length; i++) { %>
		<li>
			<a href="/users/<%=users[i]._id%>"><%=users[i].name%></a>
		</li>
	<% } %>

	<a href="http://localhost:3000/users/new">New User</a>

</body>
<html>