<!-- <!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h2>Yo, new room.</h2>
	<form action="/rooms" method="POST">
		<li>Name: <input type="text" name="name"></li>
		<li>Purpose: <input type="text" name="purpose"></li>
		<li>Floor: <input type="text" name="floor"></li>
		<input type="submit" name="" value="Submit Room">
	</form>
</body>
</html> -->