<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h2>Create your user here!</h2>
	<form action="/users/" method="POST">
		<li>Name: <input type="text" name="name"></li>
		<li>Age: <input type="text" name="age"></li>
		<input type="submit" name="" value="Submit User">
	</form>
</body>
</html>