<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Invididual User Show Page</h1>
	<h2><%=users.name%></h2>
	<h3><%=users.age%>
		<br>
		<br>
	<a href="/users">Go back</a>
</body>
</html>